body {
    background-color: #f6f6f6;
}


/* 头部信息 */

#home-page {
    width: 100%;
    height: 100%;
    /* display: none; */
}

#home-page #head {
    width: 100%;
    height: 52px;
    background-color: #fff;
}

#home-page #head .replace {
    position: fixed;
    top: 0px;
    height: 52px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    overflow: hidden;
}

#home-page #head .container,
#home-page #head .swap {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
    background-color: #fff;
}

#home-page #head .container ul li,
#home-page #head .swap ul li {
    float: left;
    height: 52px;
    line-height: 52px;
    color: rgb(133, 144, 166);
}

#home-page #head .container ul li span {
    margin: 0 17px;
    font-size: 15px;
    cursor: pointer;
}

#home-page #head .swap ul li span {
    margin: 0 22px;
    color: #000;
    cursor: pointer;
}

#home-page #head .swap ul li .selected {
    color: rgb(15, 136, 235);
}

#home-page #head .container .fr li {
    margin-right: 40px;
}

#home-page #head .container ul li span:hover {
    color: #000;
}

#home-page #head .container ul li .selected {
    display: inline-block;
    height: 49px;
    color: #000;
    border-bottom: 3px solid #0084ff;
}

#home-page #head i {
    font-size: 22px;
    color: rgb(133, 144, 166);
    cursor: pointer;
}

#home-page #head .container ul li .logo,
#home-page #head .swap ul li .logo {
    font-size: 40px;
    color: #0084ff;
}

#home-page #head img.sulpture {
    width: 30px;
    border-radius: 3px;
    margin-top: 11px;
    cursor: pointer;
}

#home-page #head .container .search-box {
    position: relative;
    width: 450px;
    height: 34px;
    margin: 0 auto;
    padding-top: 10px;
}

#home-page #head .swap .fr {
    position: relative;
    height: 34px;
    padding-top: 10px;
    margin-top: -4px;
    margin-right: 10px;
    right: 60px;
}

#home-page #head .container .search-box form input {
    display: inline-block;
    width: 265px;
    height: 32px;
    padding-left: 10px;
    margin-left: 50px;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(235, 235, 235);
    border-right: none;
    background-color: rgb(246, 246, 246);
}

#home-page #head .swap form input {
    display: inline-block;
    width: 174px;
    height: 24px;
    padding: 4px 0;
    padding-left: 10px;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(235, 235, 235);
    border-right: none;
    background-color: rgb(246, 246, 246);
}

#home-page #head .container .search-box form button.submit {
    position: absolute;
    width: 44px;
    height: 34px;
    padding: 0 12px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(235, 235, 235);
    border-left: none;
}

#home-page #head .swap form button.submit {
    position: relative;
    top: 3px;
    width: 44px;
    height: 34px;
    padding: 0 12px;
    margin-left: -5px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(235, 235, 235);
    border-left: none;
}

#home-page #head .container .search-box .ques {
    display: inline-block;
    position: absolute;
    left: 430px;
    width: 58px;
    height: 34px;
    border-radius: 5px;
    background-color: #0084ff;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#home-page #head .swap .ques {
    display: inline-block;
    position: absolute;
    left: 240px;
    width: 58px;
    height: 34px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: #0084ff;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}


/* 好友列表 */

#home-page #head .friends-box {
    position: fixed;
    display: none;
    z-index: 1;
    top: 54px;
    right: 180px;
    width: 360px;
    height: 439px;
    background-color: #fff;
    border: rgb(246, 246, 246);
    box-shadow: 4px 2px 8px 2px rgb(0, 0, 0, .1);
    font-size: 14px;
}

#home-page #head .friends-box .trangle {
    position: absolute;
    right: 180px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #fff;
}

#home-page #head .friends-box .friends-list .list-head {
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-bottom: 1px solid rgb(245, 245, 245);
    cursor: pointer;
}

#home-page #head .friends-box .friends-list .list-head:hover {
    color: rgb(133, 144, 166);
}

#home-page #head .friends-box .friends-list .list {
    width: 360px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#home-page #head .friends-box .friends-list .list li {
    width: 313px;
    height: 43.333px;
    padding: 15px;
    cursor: pointer;
}

#home-page #head .friends-box .friends-list .list li:hover {
    background-color: rgb(246, 246, 246);
}

#home-page #head .friends-box .friends-list .list li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#home-page #head .friends-box .friends-list .list li .content {
    display: inline-block;
    width: 253.18px;
}

#home-page #head .friends-box .friends-list .list li .content .message {
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: rgb(133, 144, 166);
}

#home-page #head .friends-box .friends-list .list-foot {
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: rgb(133, 144, 166);
    border-top: 1px solid rgb(245, 245, 245);
    cursor: pointer;
}

#home-page #head .friends-box .friends-list .list-foot:hover {
    color: rgb(143, 154, 173);
}


/* 点击我的头像 */

#home-page #head .head-menu {
    position: fixed;
    display: none;
    z-index: 2000;
    top: 57px;
    right: 240px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, .2);
}

#home-page #head .head-menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 60px;
    width: 24px;
    height: 24px;
    margin: -12px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-right: none;
    background: #fff;
    transform: rotate(45deg);
}

#home-page #head .head-menu div {
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    cursor: pointer;
}

#home-page #head .head-menu div:hover {
    background-color: rgb(246, 246, 246);
}

#home-page #head .head-menu i {
    font-size: 16px;
}


/* 内容区域 */

#content {
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}

#content .ad {
    display: inline-block;
    width: 694px;
    border-radius: 2px;
}

#content .ad img {
    width: 100%;
}

#content #app {
    width: 694px;
    border-radius: 2px;
}

#content #app .info {
    margin-top: 105.177px;
    background-color: #fff;
    width: 100%;
}

#content #app .sort {
    height: 59px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#content #app .sort li {
    float: left;
    height: 59px;
    margin: 0 22px;
    line-height: 59px;
    cursor: pointer;
}

#content #app .sort li.selected {
    color: #0084ff;
}


/* 文章 */

#content #app .info .article {
    width: 654px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #f0f2f7;
}

#content #app .info .whole-article {
    display: none;
    background-color: #fff;
}

#content #app .info .article button {
    background-color: transparent;
    border: none;
    outline: none;
}

#content #app .info .article .article-title a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

#content #app .info .article .article-title a:hover {
    color: #175199;
}

#content #app .info .article .inner .inner-text {
    margin-top: 9px;
    font-size: 15px;
    color: #1a1a1a;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

#content #app .info .article .inner .inner-btn,
#content #app .info .article .inner .inner-btn i {
    color: #175199;
    cursor: pointer;
}

#content #app .info .article .inner .inner-btn:hover,
#content #app .info .article .inner .inner-btn:hover i,
#content #app .info .article .inner .inner-text:hover {
    color: grey;
    cursor: pointer;
}

#content #app .info .article .action {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
}

#content #app .info .article .action li button {
    cursor: pointer;
}

#content #app .info .article .action li button.selected {
    background-color: rgb(15, 136, 235);
    color: #fff;
}

#content #app .info .article .action li button.inner-func:hover {
    background-color: transparent;
    color: grey;
}

#content #app .info .article .action .agree {
    width: 131.3px;
    height: 30px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #0084ff;
    background: rgba(0, 132, 255, .1);
}

#content #app .info .article .action .agree i {
    color: #0084ff;
}

#content #app .info .article .action .dis-agree {
    height: 30px;
    padding: 0 12px;
    margin-left: 5px;
    border-radius: 3px;
    transform: rotateZ(180deg);
    border: 1px solid transparent;
    color: #0084ff;
    background: rgba(0, 132, 255, .1);
}

#content #app .info .article .action .inner-func {
    margin-left: 20px;
    color: rgb(133, 144, 166);
    font-size: 14px;
}

#content #app .info .article .action .inner-func i {
    color: rgb(133, 144, 166);
    font-size: 18px;
}


/* 展开全文 */

#content #app .info .whole-article .author {
    margin-top: 10px;
}

#content #app .info .whole-article .author img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#content #app .info .whole-article .author .author-name {
    margin-left: 10px;
    font-size: 15px;
    color: #444;
    vertical-align: middle;
}

#content #app .info .whole-article .voter {
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(133, 144, 166);
    font-size: 14px;
    margin: 10px 0px -4px;
}

#content #app .info .whole-article .inner-whole-text {
    margin-top: 10px;
}

#content #app .info .whole-article .public-time {
    margin-top: 10px;
    color: rgb(133, 144, 166);
    font-size: 14px;
}

#content #app .info .article .action .fold {
    display: none;
    margin-left: 60px;
    color: rgb(133, 144, 166);
    font-size: 14px;
    cursor: pointer;
}


/* 评论区 */

#content #app .info .comment-box {
    display: none;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    background: #fff;
    margin: 12px 20px;
    overflow: visible;
    border-radius: 4px;
}

#content #app .info .comment-box .comment-list {
    border-bottom: 1px solid #f6f6f6;
}

#content #app .info .comment-box .comment-top {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    color: #1a1a1a;
    font-size: 15px;
}

#content #app .info .comment-box .comment-title {
    padding: 10px 20px;
    font-size: 14px;
    color: grey;
    background-color: #f6f6f6;
    font-weight: 600;
}

#content #app .info .comment-box .inner-comment-box {
    position: relative;
    padding: 12px 10px 10px;
    font-size: 15px;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment-top {
    position: relative;
    height: 24px;
    padding-right: 3px;
    padding-left: 1px;
    margin-bottom: 4px;
    line-height: 24px;
}

.active span,
.active svg {
    /* border: 1px solid #000; */
    color: rgb(0, 132, 255);
    /* background-color: rgb(0, 132, 255); */
}

#content #app .info .comment-box .reply-box {
    padding: 12px 30px 10px;
}

#content #app .info .comment-box .reply-bar {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 12px 0px 10px 20px;
    font-size: 15px;
    border-top: 1px solid #f6f6f6;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment-top img,
#content #app .info .comment-box .reply-bar .inner-reply-top img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#content #app .info .comment-box .reply-bar .inner-reply-top .grey-reply {
    color: #8590a6;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment-top .comment-time,
#content #app .info .comment-box .reply-bar .inner-reply-top .reply-time {
    float: right;
    font-size: 14px;
    color: #8590a6;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment,
#content #app .info .comment-box .inner-comment-box .inner-reply {
    padding-left: 33px;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment .comment-footer,
#content #app .info .comment-box .reply-bar .inner-reply .reply-footer {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment .comment-footer li,
#content #app .info .comment-box .reply-bar .inner-reply .reply-footer li {
    display: inline-block;
    padding: 0 8px;
    font-size: 0;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
}

#content #app .info .comment-box .inner-comment-box .comment-bar .inner-comment .comment-footer li span,
#content #app .info .comment-box .reply-bar .inner-reply .reply-footer li span {
    font-size: 14px;
}

#content #app .info .comment-box .input-comment {
    padding: 12px 20px;
    border-top: 1px solid #f6f6f6;
}

#content #app .info .comment-box .input-reply {
    display: none;
    padding: 12px 20px;
}

#content #app .info .comment-box .input-comment input,
#content #app .info .comment-box .input-reply input {
    width: 450px;
    padding: 6px 12px;
    cursor: text;
    font-size: 15px;
    outline: none;
}

#content #app .info .comment-box .input-comment button,
#content #app .info .comment-box .input-reply button {
    width: 60px;
    padding: 6px 12px;
    margin-left: 20px;
    border: 4px solid #0084ff;
    border-radius: 4px;
    background-color: #0084ff;
    color: #fff;
    font-weight: 600;
}


/* 右边栏 */

#content #nav {
    width: 296px;
    border-radius: 2px;
}

#content #nav .func .nav-top {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 296px;
    padding: 20px 15px;
    border-bottom: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0 0 4px rgb(0, 0, 0, .1);
}

#content #nav .func .nav-top a {
    display: inline-block;
    width: 50px;
}

#content #nav .func .nav-top .circle {
    width: 40px;
    height: 40px;
    margin: 0 5px 10px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

#content #nav .func .nav-top .circle i {
    font-size: 20px;
}

#content #nav .func .nav-top div {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

#content #nav .func .nav-top .blu {
    background-color: rgba(0, 132, 255, .12)
}

#content #nav .func .nav-top .blu i {
    color: rgb(0, 132, 255);
}

#content #nav .func .nav-top .ora {
    background-color: rgba(255, 150, 7, .12)
}

#content #nav .func .nav-top .ora i {
    color: rgb(255, 150, 7);
}

#content #nav .func .nav-top .yel {
    background-color: rgba(244, 200, 7, .12)
}

#content #nav .func .nav-top .yel i {
    color: rgb(244, 200, 7);
}

#content #nav .func .nav-top .gre {
    background-color: rgba(38, 191, 191, .12)
}

#content #nav .func .nav-top .gre i {
    color: rgb(38, 191, 191);
}

#content #nav .func .nav-wrapp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 326px;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .1);
}

#content #nav .func .nav-wrapp a {
    display: inline-block;
    width: 50%;
    padding: 16px 0;
}

#content #nav .func .nav-wrapp .line-right {
    border-right: 1px solid #f6f6f6;
}

#content #nav .func .nav-wrapp .nav-wrapp-title {
    color: rgb(133, 144, 166);
    font-size: 15px;
}

#content #nav .func .nav-wrapp .nav-wrapp-number {
    display: inline-block;
    color: #0084ff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(246, 246, 246);
}

#content #nav .creator {
    width: 100%;
    padding: 0 15px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .1);
}

#content #nav .creator .creator-title {
    height: 52px;
    margin: 0 16px;
    line-height: 52px;
    border-bottom: 1px solid rgb(246, 246, 246);
    color: rgb(133, 144, 166);
    font-size: 14px;
}

#content #nav .creator .creator-title .writer {
    font-size: 20px;
    color: rgb(133, 144, 166);
}

#content #nav .creator .creator-title .level {
    color: #0084ff;
}

#content #nav .creator .creator-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 0;
    border-bottom: 1px solid rgb(246, 246, 246);
}

#content #nav .creator .creator-profile .profile-item {
    width: 50%;
    text-align: center;
    font-size: 12px;
    color: rgb(133, 144, 166);
}

#content #nav .creator .creator-profile .profile-item .profile-number {
    font-size: 18px;
    color: #000;
}

#content #nav .creator .creator-profile .profile-item i {
    color: rgb(0, 132, 255);
    font-size: 12px;
}

#content #nav .creator .creator-profile .line-right {
    border-right: 1px solid #ebebeb;
}

#content #nav .creator .creator-protection {
    display: inline-block;
    padding: 10px 8px;
    font-size: 12px;
    color: rgb(133, 144, 166);
}

#content #nav .creator .creator-protection i {
    font-size: 12px;
}

#content #nav .category {
    width: 306px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .1);
}

#content #nav .category img {
    display: block;
    width: 276px;
    margin: 0 auto;
    padding-top: 10px;
}

#content #nav .category .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 20px;
}

#content #nav .category .category-list a {
    display: inline-block;
    width: 91.07px;
    height: 56.33px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(133, 144, 166);
}

#content #nav .category .category-list a i {
    font-size: 20px;
}

#content #nav .category .category-list a .yel {
    color: rgb(244, 200, 7);
}

#content #nav .category .category-list a .gre {
    color: rgb(67, 212, 128);
}

#content #nav .category .category-list a .b1 {
    color: rgb(0, 132, 255);
}

#content #nav .category .category-list a .b4 {
    color: rgb(84, 120, 240);
}

#content #nav .category .category-list a .b3 {
    color: rgb(88, 104, 209);
}

#content #nav .category .category-list a .b2 {
    color: rgb(15, 136, 235);
}

#content #nav .ad {
    position: relative;
    width: 326px;
    height: 246.67px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .1);
}

#content #nav .ad img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#content #nav .ad .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#content #nav .ad div {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(129, 133, 158);
    background-color: rgba(0, 0, 0, .5);
    color: rgb(129, 133, 158);
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
}

#content #nav .nav-link {
    width: 288px;
    padding: 8px 20px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, .1);
}

#content #nav .nav-link a {
    display: block;
    width: 296px;
    height: 40px;
    line-height: 40px;
}

#content #nav .nav-link i,
#content #nav .nav-link span {
    color: rgb(133, 144, 166);
    font-size: 14px;
}

#content #nav .nav-link .nav-link-number {
    float: right;
    height: 38px;
    padding: 0 12px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    font-size: 14px;
}

#content #nav .copyright {
    width: 291px;
    padding-left: 5px;
    margin-top: 10px;
}

#content #nav .copyright li {
    height: 26px;
    line-height: 26px;
}

#content #nav .copyright li div {
    display: inline-block;
    font-size: 14px;
    color: rgb(133, 144, 166);
}

#content #nav .copyright li a {
    font-size: 14px;
    color: rgb(133, 144, 166);
}

#content #nav .copyright li a:hover {
    color: rgb(23, 117, 192);
}


/* 聊天框 */

#chat-area {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

#chat-area .chat-box {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    width: 728px;
    background-color: #fff;
}

#chat-area .chat-box .chat-top {
    width: 690px;
    padding: 21px 0 9px;
    margin: 0 19px;
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: center;
}

#chat-area .chat-box .chat-top .close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    color: rgb(219, 219, 219);
    cursor: pointer;
}

#chat-area .chat-box .chat-body {
    height: 366px;
    overflow-y: scroll;
}

#chat-area .chat-box .chat-body .send,
#chat-area .chat-box .chat-body .receive {
    width: 100%;
}

#chat-area .chat-box .chat-body .time {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 0;
}

#chat-area .chat-box .chat-body .time span {
    font-size: 12px;
}

#chat-area .chat-box .chat-body .receive .not-my-header {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#chat-area .chat-box .chat-body .send .my-header {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#chat-area .chat-box .chat-body .chat-message {
    margin: 10px 20px;
}

#chat-area .chat-box .chat-body .receive .inter::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -4px;
    top: 14px;
    transform: rotate(45deg);
    background: #f6f6f6;
}

#chat-area .chat-box .chat-body .send .inter::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    right: -4px;
    top: 14px;
    transform: rotate(45deg);
    background: #f6f6f6;
}

#chat-area .chat-box .chat-body .receive .inter {
    position: relative;
    float: left;
    max-width: 364px;
    padding: 10px 12px;
    margin: 0 8px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    font-size: 14px;
    color: #444;
}

#chat-area .chat-box .chat-body .send .inter {
    position: relative;
    float: right;
    max-width: 364px;
    padding: 10px 12px;
    margin: 0 8px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    font-size: 14px;
    color: #444;
}

#chat-area .chat-box .text-area .func {
    width: 690px;
    height: 31px;
    padding-top: 11px;
    margin: 0 14px;
    border-top: 1px solid rgb(235, 235, 235);
}

#chat-area .chat-box .text-area .func img {
    width: 39.3px;
    height: 30px;
}

#chat-area .chat-box .text-area label {
    display: inline-block;
    height: 76.5px;
    width: 704px;
    padding: 0 10px 4px 14px;
    background-color: #fff;
}

#chat-area .chat-box .text-area label #txt {
    width: 694px;
    height: 60px;
    margin-top: 10px;
    resize: none;
    border: none;
    outline: none;
}

#chat-area .chat-box .submit {
    width: 678px;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    text-align: right;
    line-height: 60px;
}

#chat-area .chat-box .submit span {
    margin-right: 10px;
    color: #bfbfbf;
    font-size: 14px;
}

#chat-area .chat-box .submit input {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0084ff;
    background-color: #0084ff;
    color: #fff;
    opacity: .5;
}