body {
    background-color: #f6f6f6;
}

#head {
    width: 100%;
    height: 52px;
    background-color: #fff;
}

#head .replace {
    position: fixed;
    top: 0px;
    height: 52px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    overflow: hidden;
}

#head .container {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
    background-color: #fff;
}

#head .container ul li,
#head .swap ul li {
    float: left;
    height: 52px;
    line-height: 52px;
    color: rgb(133, 144, 166);
}

#head .container ul li span {
    margin: 0 17px;
    font-size: 15px;
    cursor: pointer;
}

#head .swap ul li span {
    margin: 0 22px;
    color: #000;
    cursor: pointer;
}

#head .swap ul li .selected {
    color: rgb(15, 136, 235);
}

#head .container .fr li {
    margin-right: 40px;
}

#head .container ul li span:hover {
    color: #000;
}

#head .container ul li .selected {
    display: inline-block;
    height: 49px;
    color: #000;
    border-bottom: 3px solid #0084ff;
}

#head i {
    font-size: 22px;
    color: rgb(133, 144, 166);
    cursor: pointer;
}

#head .container ul li .logo {
    font-size: 40px;
    color: #0084ff;
}

#head img.sulpture {
    width: 30px;
    border-radius: 3px;
    margin-top: 11px;
    cursor: pointer;
}

#head .container .search-box {
    position: relative;
    width: 450px;
    height: 34px;
    margin: 0 auto;
    padding-top: 10px;
}

#head .container .search-box form input {
    display: inline-block;
    width: 265px;
    height: 32px;
    padding-left: 10px;
    margin-left: 50px;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(235, 235, 235);
    border-right: none;
    background-color: rgb(246, 246, 246);
}

#head .swap form input {
    display: inline-block;
    width: 174px;
    height: 24px;
    padding: 4px 0;
    padding-left: 10px;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(235, 235, 235);
    border-right: none;
    background-color: rgb(246, 246, 246);
}

#head .container .search-box form button.submit {
    position: absolute;
    width: 44px;
    height: 34px;
    padding: 0 12px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(235, 235, 235);
    border-left: none;
}

#head .swap form button.submit {
    position: relative;
    top: 3px;
    width: 44px;
    height: 34px;
    padding: 0 12px;
    margin-left: -5px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(235, 235, 235);
    border-left: none;
}

#head .container .search-box .ques {
    display: inline-block;
    position: absolute;
    left: 400px;
    width: 58px;
    height: 34px;
    border-radius: 5px;
    background-color: #0084ff;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}